:root {--t: 1s;}
body {
    background: #021b24;
    font-family: Calibri, serif;
    font-size: 24px;
}
#origin {
    position: absolute;
    perspective: 800px;
}
.card, .cardFront, .cardBack, .cardShadow {
    width: 100px;
    height: 200px;
    border-radius: 12px;
    position: absolute;
    cursor: pointer;
}
.card {
    border: solid 3px black;
    z-index: 1;
}
.cardFront {
    background: #eee;
}
.cardBack {
    background: #636;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}
.setRotated360 {
    transform: rotateY(360deg);
}
.setRotated180 {
    transform: rotateY(180deg);
}
                            /***  animations  ***/
.rotateFrontSide {
    animation: rotateTo180 1 var(--t) ease-in-out both;
    backface-visibility: hidden;
}
@keyframes rotateTo180 {
    to {
        transform: rotateY(180deg);
    }
}
.rotateBackSide {
    animation: rotateTo360 1 var(--t) ease-in-out forwards;
}
@keyframes rotateTo360 {
    to {
        transform: rotateY(360deg);
    }
}
/****************************************************/
.rotateFrontToBack {
    animation: rotateFrontToBack 1 var(--t) ease-in-out forwards;
}
@keyframes rotateFrontToBack {
    to {
        transform: rotateY(0deg);
    }
}
.rotateBackToFront {
    animation: rotateBackToFront 1 var(--t) ease-in-out forwards;
}
@keyframes rotateBackToFront {
    to {
        transform: rotateY(180deg);
    }
}
