body {
    background: #021b24;
    font-family: Calibri, serif;
    font-size: 24px;
}
#origin {
    position: absolute;
    perspective: 800px;
}
.card, .cardFront, .cardBack, .cardShadow {
    width: 100px;
    height: 200px;
    border-radius: 12px;
    position: absolute;
    cursor: pointer;
}
.card {
    border: solid 3px black;
    z-index: 1;
}
.cardFront {
    background: #eee;
}
.cardBack {
    background: #636;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}
.cardShadow {
    background: #0003;
    box-shadow: 0 0 4px 8px #0003;
}
@keyframes rotateTo180 {
    to {
        transform: rotateY(180deg);
    }
}
@keyframes rotateTo0 {
    to {
        transform: rotateY(360deg);
    }
}
.rotateF {
    animation: rotateTo180 1 3s ease-in-out both;
    backface-visibility: hidden;
}
.rotateB {
    animation: rotateTo0 1 3s ease-in-out both;
}
.show {
    transition: opacity .00001s;
    transition-delay: 1.4s;
}
.hide {
    transition: opacity .00001s;
    transition-delay: 1.4s;
}
.resetRotation {
    animation: reset 1 .00001s linear;
    animation-delay: 4s;
}